@model IEnumerable<SensorData>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Component.InvokeAsync("SensorDetail", new {sensor = 1 })
