@model List<int>

<h3>Oblíbené senzory</h3>
<div class="container">

    @foreach (var id in Model)
    {
        <div class="row">
            <div class="col-md-12">
                @await Component.InvokeAsync("SensorDataDetail", new { sensor = id })
            </div>
        </div>
    }
</div>